<h3 class="subhead-2">Account</h3>
<ul class="no-bullets">
  <li><a href="/account/overview ">Personal Info</a></li>
  <li><a href="<%= account_addresses_path %>">Addresses</a></li>
  <li><a href="<%= account_credit_cards_path %>">Payment</a></li>
  <li><a href="<%= account_orders_path %>">Orders</a></li>
  <li><a href="<%= account_subscriptions_path %>">Subscriptions</a></li>
  <li><a href="/referrals">Refer Friends</a></li>
  <li><a href="<%= logout_path %>">Sign Out</a></li>
</ul>
