<tr>
  <td>
    <%= supplier.id %>
  </td>
  <td>
    <%= supplier.name %>
  </td>
  <td>
    <%= supplier.delivery_minimum %>
  </td>
  <td>
    <%= supplier.delivery_threshold %>
  </td>
  <td>
    <%= supplier.delivery_fee %>
  </td>
  <td>
    <%= supplier.delivery_expectation %>
  </td>
  <td>
    <%= supplier.delivery_available %>
  </td>
  <td>
    <%= supplier.next_delivery %>
  </td>
</tr>
