<%= render partial: 'shared/top_banner_message' %>

<h2>Banner messages</h2>

<ol>
  <li>
    <a href="<%= edit_admin_config_top_banner_message_path(1) %>">Top banner</a>
  </li>
  <li>
    <a href="<%= edit_admin_config_top_banner_message_path(2) %>">Popup banner</a>
  </li>
  <li>
    <a href="<%= edit_admin_config_top_banner_message_path(3) %>">Order confirmation email on demand banner</a>
  </li>
  <li>
    <a href="<%= edit_admin_config_top_banner_message_path(4) %>">Order confirmation email shipping banner</a>
  </li>
  <li>
    <a href="<%= edit_admin_config_top_banner_message_path(5) %>">Order confirmation email pickup banner</a>
  </li>
  <li>
    <a href="<%= edit_admin_config_top_banner_message_path(6) %>">Order confirmation email bottom banner</a>
  </li>
  <li>
    <a href="<%= edit_admin_config_top_banner_message_path(7) %>">Order confirmation email bottom banner with permalinks filters</a>
  </li>
</ol>
