<% content_for :auth_tokens, true %>
<% content_for :title, 'Create Bundle' %>
<%= render :partial => '/admin/merchandise/sub_header'%>
<h3>New Bundle</h3>

<%= form_for(@bundle, :url => admin_merchandise_bundles_path(@bundle)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.submit 'Create', :class => 'button' %>
<% end %>

<p>
  <%= link_to 'Back to List', admin_merchandise_bundles_path, :class => 'button' %>
</p>
