<tr class="<%= order_row_style(order) %>">
  <td>
    <%
      shipping_method_types = order.shipments.map{ |shipment| shipment.shipping_type }.uniq
      shipping_method_types.each do |type| %>
      <span class="order-row__shipping-method-icon" title="<%= I18n.t("admin.shipping_method.#{type}") %>"><%= I18n.t("admin.shipping_method_emoji.#{type}") %></span>
    <% end %>
  </td>
  <td>
    <%= image_tag "ui/icon-out_of_hours.svg", align: 'right', width: 16 if order.shipments.any?(&:out_of_hours) %>
    <%= "PS" if order.shipments.any? { |s| s.customer_placement == 'pre_sale' } %>
    <%= image_tag "ui/icon-fraud.svg", align: 'right', width: 16 if order.fraud? %>
  </td>
  <td>
    <%=  link_to order.number, edit_admin_fulfillment_order_path(order.number) %>
  </td>
  <td>
    <%= link_to order.user_name, admin_customer_path(order.user_id) %>
    <% if order.vip? %>
      <span class="label round vip">VIP</span>
    <% end %>
    <%= image_tag "ui/icon-gift.svg", align: 'right', width: 16 if order.gift? %>
    <%= image_tag "ui/icon-star.svg", align: 'right', width: 16 if order.membership_id.present? %>
  </td>
  <td><%= order.order_suppliers.map(&:name).join(', ') %></td>
  <td>
    <% if order.shipments.any?{ |s| s.exception? } %>
      <span class="label round alert">EXCEPTION</span>
    <% elsif order.late_confirmation? %>
      <span class="label round alert">UNCONFIRMED</span>
    <% else %>
      <span class="label round <%=  order.state.downcase %>"><%= order.state.upcase %></span>
    <% end %>
  </td>
  <td>
    <%= order.storefront.name %>
  </td>
  <td>
    <% if order.completed_at %>
      <%= order.completed_at.strftime('%H:%M %Z') %><br>
      <small><%= order.completed_at.strftime('%a %d %B') %></small>
    <% end %>
  </td>
  <td><%= number_to_currency(order.taxed_total) %> </td>
</tr>
