<% content_for :user_facing, true %>
<% content_for :email_reason, 'your gift order from Minibar Delivery has been delivered' %>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Order",
  "merchant": {
    "@type": "Organization",
    "name": "MinibarDelivery.com"
  },
  "orderNumber": "<%= @order.number %>",
  "priceCurrency": "USD",
  "price": "<%= @order.taxed_total.to_s %>",
  "acceptedOffer": [
    <% @order.order_items.group_by(&:variant).each do |variant, order_items| %>
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Product",
        "name": "<%= variant.product_name %>",
        "image": "<%= variant.product.featured_image(:thumb) %>",
        "sku": "<%= variant.sku %>"
      },
      "price": "<%= variant.price.to_s %>",
      "priceCurrency": "USD",
      "eligibleQuantity": {
        "@type": "QuantitativeValue",
        "value": "<%= order_items.sum(&:quantity) %>"
      },
      "seller": {
        "@type": "Organization",
        "name": "<%= variant.supplier.display_name %>"
      }
    }
    <% end %>
  ],
  "url": "https://minibardelivery.com/",
  "orderStatus": "http://schema.org/orderDelivery",
  "orderDate": "<%= @order.completed_at.iso8601 %>",
  "isGift": "<%= @order.gift? %>",
  "customer": {
    "@type": "Person",
    "name": "<%= @order.user_name %>"
  }
}
</script>
<table class="container sub"> <!-- INTRO TEXT BEGIN -->
  <tr>
    <td>
      <table class="row">
        <tr>

          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="panel">
                  <table class="section">
                    <tr>
                      <td>
                        <p class="indent dark small no-bottom">
                          Hi <%= @user.first_name %>,
                        </p><br/>
                        <p class="indent dark small no-vertical">
                          Thanks for placing your gift order with us!
                          <br>
                          <br>
                          <% if @order.shipments.count == 1 %>
                            This is confirmation that your order, <strong>#<%= @order.number %></strong>, has been delivered.
                            <br>
                            <br>
                          <% else %>
                            This is confirmation that your shipment from <%= @shipment.supplier.display_name %> on order <strong>#<%= @order.number %></strong> has been delivered.
                            <br>
                            <br>
                          <% end %>
                          The shipment was signed for by <strong><%= @shipment.metadata_signed_by_name %></strong>.
                          <br>
                          <br>
                          If you have any questions, please don't hesitate to reply to this email! If you prefer, you can call our concierge line at <a class="text-link" href="tel:+18554870740">(855) 487-0740</a>.
                        </p><br/>
                        <p class="indent dark small">
                        Cheers, <br/>
                        Minibar Delivery
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table> <!-- INTRO TEXT END -->
<%= render(partial: 'bottom_gift_card_banner') %>
