<% content_for :title, 'Order Adjustment Reasons' %>
<h3>Order Adjustment Reasons</h3>
<div class="row">
  <div class="column large-9">
    <p><em>Order Adjustment Reasons</em> are used to classify the different types of <em>Order Adjustment</em>.</p>
  </div>
  <div class="column large-3">
    <%= link_to 'New Reason', new_admin_config_order_adjustment_reason_path, :class => 'button' %>
  </div>
</div>

<%= form_tag admin_config_order_adjustment_reasons_path, method: 'get', id: "reasons_filter" do %>
  <div class="row collapse">
    <div class="small-6 columns">
      <div class="row collapse">
        <div class="small-6 columns">
          <%= check_box_tag "status[]", 'true', params[:status].nil? || params[:status]&.include?('true') %>
          <%= label_tag 'Active' %>
          <%= check_box_tag "status[]", 'false', params[:status]&.include?('false') %>
          <%= label_tag 'Inactive' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-6 columns">
          <%= check_box_tag "cancel", 'true', params[:cancel]&.include?('true') %>
          <%= label_tag 'Only cancelling reasons' %>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-6 columns">
          <%= check_box_tag "adjustment", 'true', params[:adjustment]&.include?('true') %>
          <%= label_tag 'Only adjustment reasons' %>
        </div>
      </div>
    </div>
    <div class="small-4 columns">
      <%= text_field_tag "name" , params[:name] %>
    </div>
    <div class="small-2 columns end">
      <%= submit_tag "Search", class: 'button postfix neutral' %>
    </div>
  </div>
<% end %>

<div>
  <table>
    <thead>
    <tr class='odd'>
      <th class='column1_header'>Name</th>
      <th>Description</th>
      <th>Used for cancelling</th>
      <th>Used for order adjustment</th>
      <th>Reporting Type</th>
      <th></th>
    </tr>
    </thead>

  <% @reasons.each do |reason| %>
    <tr class='odd <%= reason.active? ? '' : 'row-expired' %>'>
      <td><%= reason.name %></td>
      <td><%= reason.description %></td>
      <td><%= reason.cancel %></td>
      <td><%= reason.order_adjustment %></td>
      <td><%= reason.no_reporting_type_specified? ? 'N/A' : reason.reporting_type.titleize %></td>
      <td><%= link_to 'Edit', edit_admin_config_order_adjustment_reason_path(reason) %></td>
    </tr>
  <% end %>
  </table>
</div>
