<% content_for :body_class, 'modal-bg' %>
<% content_for :title, 'Reset Password' %>
<% content_for :hide_footer, true %>
<% content_for :store, false %>
<% content_for :standard_template, true %>

<div class="row push-down">
  <div class="large-5 large-centered column">
    <div class="checkout-frame" id="checkout-login-form">
      <h3 class="modal-header">Reset Password</h3>
      <div class="checkout-panel">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <% if resource.errors.any? %>
            <p class="notice errors" id="error_explanation">
              <%= pluralize(resource.errors.count, "error") %> prohibited this password_reset from being saved:
            </p>
            <ul>
            <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          <% end %>
          <%= f.hidden_field :reset_password_token %>
          <div class="row form-row">
            <div class="large-12 column">
              <%= f.label :password, 'New Password' %>
              <%= f.password_field :password, required: true, autofocus: true %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 column">
              <%= f.label :password_confirmation, 'Confirm New Password' %>
              <%= f.password_field :password_confirmation, required: true %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 column">
              <button type="submit" class="button expand" id="button-log-in">Reset Password</button><br>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>