<div class="row subtype-container" data-type-id="{{type}}">
  <div class="small-7 columns">
    <div class="first-row type-name" name="{{type}}_name">{{type}}</div>
    <div class="second-row">{{subtypes}}</div>
  </div>
  <div class="small-5 columns">
    <div class="first-row"><span name="{{type}}_count"></span> bottles</div>
    <div class="second-row" name="bottle_size"></div>
  </div>
</div>