<% content_for :title, 'Merge Product Groupings' %>
<% content_for :auth_tokens, true %>

<div class="row">
  <div class="large-12 columns"><h2>Product Grouping Merge Tool</h2></div>
  <div class = "large-8 small-12 columns">
    <p>This tool is used to merge duplicate product groupings which have been created as part of a data import. It will move all variants and products associated with the second product grouping to the first product grouping, then the second product grouping will be deleted.</p>
    <p>Product grouping attributes such as name and description or properties will not be copied.</p>
    <p><strong class="warning">Please don't use this tool unless you know what you are doing!</strong></p>
    <p><strong> When Searching </strong> If you think your search isn't working, try searching complete words. However, you can use partials when filtering the things already in the dropdowns. </p>
  </div>
  <div class = "large-4 small-12 columns">
    <h4> Choose Supplier </h4>
    <%= form_tag(admin_merchandise_merge_groupings_path, method:"get") do %>
      <div class="row collapse">
        <div class="small-10 column">
          <div id="supplier-selector-component"></div>
        </div>
        <div class="small-2 column">
          <%= submit_tag("GO", class:"button postfix") %>
        </div>
        <div class="row collapse">
          <div class="small-1 columns"><%= check_box_tag :out_of_stock, true, params["out_of_stock"] %></div>
          <div class="small-11 columns"><%= label_tag :out_of_stock, 'Show out-of-stock' %></div>
        </div>
      </div>
    <% end %>
    <p> Note: this will only affect the list on the right (to be destroyed.) </p>
  </div>
</div>

<div class="row">
  <div class="large-5 columns end">
    <p>
      This product grouping will become the master.<br>
      This will search <strong>all product groupings</strong>.
    </p>
    <div class='selection'>
      <select name="product-groupings-1" id="product_grouping_id_1" class="product-grouping-select-1">
        <option value="">Search product groupings...</option>
      </select>
      <a href="<%= @swap_url %>" class="swap-merge-icon" title="Swap source and destination"></a>
    </div>
  </div>
  <div class="large-5 column">
    <p>
      This product grouping will be destroyed.<br>
      <% if @all %>
        This will search <strong>all product groupings</strong>.
      <% else %>
        Showing <span class="product-grouping-count"></span> product groupings for <strong><%= @supplier.name %></strong>.
      <% end %>
    </p>
    <select name="product-groupings-2" id="product_grouping_id_2" class="product-grouping-select-2">
      <option value=""><%= @all ? "Search product groupings..." : "Select product grouping..."%></option>
    </select>
  </div>
  <div class="large-2 column"></div>
</div>
<div class="row">
  <div class="large-5 column">
    <div class="panel product" id="p1">
    <%= render :partial => '/admin/merchandise/merge_groupings/product_grouping', :locals => {product_grouping: @destination_grouping}, cache: false%>
    </div>
  </div>
  <div class="large-5 column">
    <div class="panel product" id="p2">
      <%= render :partial => '/admin/merchandise/merge_groupings/product_grouping', :locals => {product_grouping: @source_grouping}, cache: false%>
    </div>
  </div>
  <div class="large-2 column panel" id="control-panel">
    <p>
      <a class="button large expand" id="button_merge">Merge Product Groupings</a>
    </p>
    <p id="status"></p>
    <p>
      <label><input type="checkbox" id="replace_name"> Use Name </label>
      <label><input type="checkbox" id="replace_description"> Use Description </label>
      <label><input type="checkbox" id="replace_image"> Use Image </label>
      <label><input type="checkbox" id="replace_category"> Use Category </label>
      <label><input type="checkbox" id="merge_properties" checked="true"> Merge Properties </label>
      <label><input type="checkbox" id="activate"> Activate </label>
    </p>
  </div>
</div>
<div class="reveal-modal" id="mergeProductsPrompt" data-reveal="">
  <h2>These Products Need to be Merged First</h2>
  <h6>(You may need to wait a short amount of time after merging these products before their product groupings will merge cleanly.)</h6>
  <hr>
  <div id="productMergeDeeplinkList"></div>
</div>

<% content_for :bottom do -%>
<%= javascript_include_tag 'admin/merge_grouping' %>
<%= javascript_include_tag 'generated/admin_bundle' %>

  <script type="text/javascript">
    window.Data = {
      destroy_product_grouping_list: <%= raw @destroy_product_grouping_list %>,
      out_of_stock:         <%= @out_of_stock %>,
      pending:              <%= @pending %>,
      show_all:             <%= @all %>,
      merge_url:            '<%= admin_merchandise_merge_grouping_path(1) %>',
      remote_url:           '<%= product_grouping_search_admin_merchandise_merge_groupings_path %>'
    };

    var component_config_block = [
      {
        selector: 'supplier-selector-component',
        component: 'SupplierSelect',
        options: {
          name: 'supplier_id',
          label: '',
          placeholder: 'Choose Supplier',
          initialValues: [<%= params["supplier_id"] %>]
        }
      }
    ];
    function ready(fn) {
      if (document.readyState != 'loading'){
        fn();
      } else {
        document.addEventListener('DOMContentLoaded', fn);
      }
    }
    ready(function(){
      window.initComponents(component_config_block);
    });
  </script>
<% end %>
