<div class="row">
  <div class='large-12 column panel'>
    <h4>Shipment History</h4>
    <% order.shipments.each do |shipment| %>
      <hr>
        <h5>
          <%= shipment.supplier.name %>
          <small><%= shipment.supplier.timezone %></small>
          <small>
            <a onclick="toggle_component('sh-content-<%= shipment.id %>')">
              Show more +
            </a>
          </small>
        </h5>
        <ul id="sh-content-<%= shipment.id %>" style="display: none">
          <table>
            <% shipment.shipment_transitions.order(sort_key: :desc).each do |transition| %>
              <tr>
                <td style="width: 0"><nobr><%= localize(transition.created_at&.in_time_zone(shipment.supplier.timezone), format: :us_time) %></nobr></td>
                <td>
                  <strong><%= transition.to_state.titleize %></strong>
                  <% unless transition.metadata.empty? %>
                      <ul>
                        <% transition.metadata.each do |k,v| %>
                          <li><strong><%= k %>:</strong> <%= v %>
                        <% end %>
                      </ul>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </ul>
    <% end %>
  </div>
</div>
