<% content_for :title, 'Pre sales' %>
<div class="admin_title_header">
  <h3>Pre sales</h3>
  <%= link_to "New Pre sale", new_admin_pre_sale_path, class: "button" %>
</div>
<%= error_messages_for 'pre_sale' %>
<%= form_tag admin_pre_sales_path, method: 'get', id: "pre_sales_filter" do %>
  <div class="row collapse">
    <div class="small-6 columns">
      <%= check_box_tag "status[]", 'active', params[:status]&.include?('active') %>
      <%= label_tag 'Active', nil, class: "active-label" %>
      <%= check_box_tag "status[]", 'inactive', params[:status]&.include?('inactive') %>
      <%= label_tag 'Inactive', nil, class: "inactive-label" %>
    </div>
    <div class="small-4 columns">
      <%= text_field_tag "name" , params[:name] %>
    </div>
    <div class="small-2 columns end">
      <%= submit_tag "Search", class: 'button postfix neutral' %>
    </div>
  </div>
<% end %>

<table>
  <thead>
  <tr class='odd'>
    <th class='column1_header'><%= sortable "name", "Name" %></th>
    <th class='column1_header'>Product</th>
    <th class='column1_header'><%= sortable "price", "Price" %></th>
    <th class='column1_header'><%= sortable "starts_at", "Starts at" %></th>
    <th class='column1_header'>Quantities</th>
    <th class='column1_header'><%= sortable "status", "Status" %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'row', collection: @pre_sales, as: 'pre_sale' %>
  </tbody>
</table>
<%= paginate @pre_sales %>
