<p>
  Order <a href="<%= url %>"><%= number %></a> has been confirmed by <strong><%= supplier_name %></strong>. Estimated delivery time <strong><%= estimate %></strong>.
  <br>
  <em>Customer - <%= customer_name %>
</p>
